.shaper__profile {
  /*width: 49%;*/
  border: 1px solid #777;
  border-radius: 5px;
}

.shaper__pic img {
  width: 165px;
  height: 165px;
  object-fit: cover;
}

/*.shaper__detail .shaper__pic {*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: auto;*/
  /*position: relative;*/
  /*overflow: hidden;*/
  /*padding: 34.37% 0 0 0;*/
/*}*/

.shaper__detail .shaper__pic img {
  object-fit: unset;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.shaper__bio {
  padding: 1em;
}
