<div class="bocoshapers">

  <div class="bocoshapers__splash">
    <div class="bocoshapers__logo">
      <img src="assets/images/boco-logo.png"/>
    </div>
  </div>

  <div class="bocoshapers__content">
    <md-card class="content__card">
      <h1>Boco Shapers</h1>
      <h2>Global Shapers - Boulder Chapter</h2>
      <hr>
      <p>The Global Shapers Community is a network of Hubs developed and led by young people who are exceptional in
        their potential, their achievements and their drive to make a contribution to their communities. An Initiative
        of the World Economic Forum</p>
    </md-card>

    <h1>CAMARADERIE - ZEAL - PRAGMATISM - CURIOSITY - DISRUPTIVENESS</h1>

    <md-card class="content__card">
      <h2>Mission Statement</h2>
      <hr>
      <p>The mission of Global Shapers Boulder is to catalyze and enhance, individually and collectively, fresh ideas
        and innovative solutions to the world’s most pressing challenges and to engage in projects related to
        specific challenges identified by the Shapers.</p>
    </md-card>

    <h1></h1>

    <md-card class="content__card">
      <h2>Team</h2>
      <hr>

      <boco-team></boco-team>

    </md-card>

  </div>

  <div class="bocoshapers__footer">
    <h1>MAKE AN IMPACT</h1>
    <h3>Be a Shaper</h3>
  </div>

  <h4>Twitter | Facebook | <a [routerLink]="['login']">login</a></h4>

</div>
