<h1>Login</h1>
<div class="shaper__login">

  <md-card>
    <img md-card-image src="../../../assets/images/boco-logo.png"/>

    <md-card-actions>
      <md-input-container>
        <input mdInput placeholder="Email" [(ngModel)]="email" type="text">
      </md-input-container>


      <md-input-container>
        <input mdInput placeholder="Password" [(ngModel)]="password" type="password">
      </md-input-container>

      <button md-button (click)="login()">login</button>
    </md-card-actions>

  </md-card>
</div>

