<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-list (click)="sidenav.close()">
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <a mat-button routerLink="" mat-line>Home</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>thumbs_up_down</mat-icon>
        <a mat-button routerLink="votes" mat-line>Votes</a>
      </mat-list-item>
      <mat-list-item *ngIf="(currentUser | async)?.$key">
        <mat-icon mat-list-icon>settings</mat-icon>
        <a mat-button [routerLink]="['/users', currentUser.$key]" mat-line>My Account</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <a mat-button routerLink="/projects/admin" mat-line>Projects</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>power_settings_new</mat-icon>
        <a mat-button (click)="logout()" mat-line>Logout</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <boco-nav
    [currentUser]="currentUser | async"
    (onToggleSidenav)="sidenav.open()"
    (onLogout)="logout()">
  </boco-nav>
  <div class="sidenav-content md-boco-theme">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
