/* You can add global styles to this file, and also import other style files */

.responsive-font {
  font-size: 2.0vw;
  /*padding: 1.3em 0;*/
}

.landing-banner md-toolbar-row {
  justify-content: center;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .responsive-font {
    font-size: 4vw;
  }
}
