.shaper__team {
  /*display: flex;*/
  /*flex-direction: column;*/
}

.shaper__row {
  padding: 1em 0;
  float: left;
  width: 50%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .shaper__row {
    width: 100%;
    float: none;
  }
}



